<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>      
  <session-factory>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/RadioFun?useSSL=false&amp;serverTimezone=UTC</property>
    <property name="connection.username">root</property>
    <property name="connection.password"></property>

    <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hibernate.connection.provider_disables_autocommit">true</property>

    <!-- Mapeo de Entidades -->
    <mapping class="com.dicampus.j2ee.model.CancionEntity"/>
    <mapping class="com.dicampus.j2ee.model.ListaReproduccionEntity"/>
    <mapping class="com.dicampus.j2ee.model.CantanteEntity"/>
    <mapping class="com.dicampus.j2ee.model.DescripcionEntity"/>
  </session-factory>
</hibernate-configuration>